.tabs-component {
    .tabs-component-tabs {
        @apply border-b-2 border-primary;
        @screen sm {
            @apply flex items-stretch justify-start -mb-px;
        }

        .tabs-component-tab {
            @apply list-none;
            @screen sm {
                @apply border-none rounded-t-lg text-gray-600;
                transform: translateY(2px);
                transition: transform .3s ease;

                &.is-active * {
                    @apply border border-b-0 bg-white border-primary rounded-t-lg text-primary;
                    z-index: 2;
                    transform: translateY(0);
                }
            }

            &:not(:last-child) {
                @apply border-b;
            }

            &:first-child {
                @apply border-t;
            }

            &:hover {
                @apply text-gray-900;
            }

            &.is-active {
                @apply text-primary;
            }

            &.is-disabled *{
                @apply text-gray-400;
                @apply cursor-not-allowed #{!important};
            }

            .tabs-component-tab-a {
                @apply no-underline flex items-center px-4 py-3;
                @apply uppercase text-sm font-semibold;
            }
        }


    }

    .tabs-component-panels {
        @apply px-4 py-8;

        @screen sm {
            .tabs-component-panels {
                @apply border border-primary rounded-md bg-white;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            @apply text-2xl font-bold tracking-wide leading-loose my-2;
        }
        p{
            @apply text-lg tracking-wide leading-relaxed my-4 text-justify;
        }
    }

}






















